<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/css/matrix-style.css" />
    <link rel="stylesheet" href="/css/matrix-media.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css" />

</head>
<body>

<!--引入top和left-->
<div th:replace="@{/admin/commons/main_top}::top"></div>
<div th:replace="@{/admin/commons/main_left}::left"></div>
<!--=============================================================================================================================================================================-->
<!--main-container-part-->
<div id="content" style="margin-right: 100px;margin-top: 40px;">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a title="主页" class="tip-bottom" href="/admin/index"><i class="icon-home"></i>主页</a>
        </div>
    </div>
    <!--End-breadcrumbs-->

    <!-- 主要内容 -->
    <div class="container-fluid">
        <div class="quick-actions_homepage">
            <ul class="quick-actions">
                <li class="bg_lb"><a
                        href="/user/page"> <i
                        class="icon-group"></i>用户管理
                </a></li>
                <li class="bg_lg span3"><a
                        href="/goods/page"> <i
                        class="icon-signal"></i>商品管理
                </a></li>
                <li class="bg_lo"><a
                        href="/orders/page"> <i
                        class="icon-th"></i>订单管理
                </a></li>
                <li class="bg_ly"><a href="/purse/page">
                    <i class="icon-inbox"></i>钱包管理
                </a></li>
                <li class="bg_ls"><a href="/admin/toInfo"> <i class="icon-fullscreen"></i>系统设置
                </a></li>
            </ul>
        </div>
    </div>
</div>

<!--==================================================================================================================-->
<div th:replace="@{/admin/commons/main_bottom}::bottom"></div>
</body>
</html>
