<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>更改密码</title>
    <link rel="stylesheet" href="/css/info_main.css"/>
    <!-- JavaScript includes - jQuery, the complexify plugin and our own script.js -->
    <link rel="stylesheet" href="/css/info_main.css"/>
    <link href="/css/mypage.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/css/matrix-style.css" />
    <link rel="stylesheet" href="/css/matrix-media.css" />
</head>

<body>
<!--引入top和left-->
<div th:replace="@{/admin/commons/main_top}::top"></div>
<div th:replace="@{/admin/commons/main_left}::left"></div>
<!--=============================================================================================================================================================================-->
<!--main-container-part-->
<div id="content" style="margin-right: 100px;margin-top: 40px;">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/admin/indexs" title="主页" class="tip-bottom"><i class="icon-home"></i>主页</a>
            <a title="修改密码" class="tip-bottom">修改密码</a>
        </div>
    </div>
    <!--End-breadcrumbs-->
    <div id="main">
        <form class="" id="updateForm" method="post" action="/admin/changePassword">
            <input type="hidden" value='${admin.id }' id="id" name="id"/>
            <div class="row pass">
                <input type="password" id="password" name="password" placeholder="原密码" />
            </div>
            <div class="row pass">
                <input type="password" id="password1" name="password1" placeholder="新密码" />
            </div>
            <span style="color:red;" id="msg"></span><br>
            <input type="button" onclick="changePassword();" class="btn btn-info" value="立即提交" style="width:100px;"/>
        </form>
    </div>
</div>
<script>
    
    function changePassword() {
        var data=$("#updateForm").serialize();
        $.post("/admin/changePassword",data,function (result) {
            if(result.code==200){
                alert("密码修改成功");
                location.href="/admin";
            }else if(result.code==505){
                $("#msg").text("密码不能为空");
            }else if(result.code==504){
                $("#msg").text("原密码输入错误");
            }else{
                $("#msg").text("服务器异常");
            }
        });
    }
    
</script>
<!--==================================================================================================================-->
<div th:replace="@{/admin/commons/main_bottom}::bottom"></div>
</body>
</html>