<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="header" ng-controller="headerController" class="header stark-components navbar-fixed ng-scope">
    <nav class="white nav1">
        <div class="nav-wrapper">
            <a href="/" class="logo">
<!--                <em class="em1">小二淘</em>-->
                <em class="em2">校园二手市场</em>
                <em class="em3"></em>
            </a>
            <div class="nav-wrapper search-bar">
                <form class="ng-pristine ng-invalid ng-invalid-required" action="/searchGoods" method="post">
                    <div class="input-field">
                        <input id="search" name="keywords" th:value="${keywords}" placeholder="搜点什么吧..." style="height: 40px;"
                               class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"/>
                        <input type="submit" class="btn"value="搜索"></input>
                        <label for="search" class="active">
                            <i ng-click="search()" class="iconfont"></i>
                        </label>
                    </div>
                </form>
            </div>
            <ul class="right">
                <li th:if="${session.loginUser==null}" class="publish-btn">
                    <button onclick="showLogin()" data-toggle="tooltip"
                            title="您需要先登录哦！" class="red lighten-1 waves-effect waves-light btn" 	>
                        我要发布</button>
                </li>
                <li th:if="${session.loginUser!=null}" class="publish-btn">
                    <button data-position="bottom" class="red lighten-1 waves-effect waves-light btn">
                        <a href="/topubGoods">我要发布</a>
                    </button>
                </li>
                <li th:if="${session.loginUser!=null}">
                    <a href="/findMyPublishGoods">我要求购</a>
                </li>
                <li th:if="${session.loginUser!=null}">
                    <a th:text="${session.loginUser.username}">XXX</a>
                </li>
                <!-- <li class="notification">
                    <i ng-click="showNotificationBox()" class="iconfont"></i>
                    <div ng-show="notification.tagIsShow" class="notification-amount red lighten-1 ng-binding ng-hide">0 </div>
                </li> -->
                <li class="changemore" th:if="${session.loginUser!=null}">
                    <a class="changeMoreVertShow()">
                        <i class="iconfont"></i>
                    </a>
                    <div class="more-vert">
                        <ul class="dropdown-content">
                            <li><a href="/notice/toHome">个人中心</a></li>
                            <li><a href="/focus/myFocus">我的关注</a></li>
                            <li><a onclick="ChangeName()">更改用户名</a></li>
                            <li><a href="/admin" target="_blank">登录后台</a></li>
                            <li><a href="javascript:logout();">退出登录</a></li>
                        </ul>
                    </div>
                </li>
                <li th:if="${session.loginUser==null}">
                    <a href="/faceRecognition/face.do">刷脸登录</a>
                </li>
                <li th:if="${session.loginUser==null}">
                    <a onclick="showLogin()">登录</a>
                </li>
                <li th:if="${session.loginUser==null}">
                    <a onclick="showSignup()">注册</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <script>
        function logout() {
            if(confirm("确定退出吗???")){
                location.href="/logout";
            }
        }
    </script>
    
</div>

</body>
</html>